#selectionTreeTooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 15px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}

#selectionTreeTooltip .node-track-title {
    font-weight: bold;

}

#selectionTreeTooltip .attr-container {
    text-align: left;
}

#selectionTreeChart {
    margin:auto;
}

.selection-tree-guidence{
    margin: auto;


}